VITE_SPOTIFY_CLIENT_ID=
VITE_SPOTIFY_REDIRECT_URI=http://127.0.0.1:5173/
# Set this only for an app that Spotify permits to use Audio Features.
VITE_SPOTIFY_AUDIO_FEATURES_ENABLED=false
# Test mode assigns a random simulated intensity value to each loaded track.
VITE_TEST_MODE=false
